body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggles{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.toggles div {
  display: flex;
  flex-direction: column;
}

.loginform{

  margin-bottom: 20px;
}

.loginform div + div {
  margin-top: 20px;
}

.signupform{
  margin-bottom: 20px;
}

.welcometext{
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
  color: red;
  border-style: solid;
  
}

.username {
  display: flex;
  justify-content: center;
 
}

.userloggedlogout{
  display: flex;
  justify-content: center;

}
.welcomeuser{
  display: flex;
  justify-content: center;
}

.movielist{
  background: white;
  border-radius: 18px;
  margin-top: 20px;
  display: flex;
  padding: 15px 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.moviecard{
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  box-shadow: 0px 3.62642px 6.34624px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 600px;
  margin: 10px
}

.movietitle{
  font-size: 18px;
  display: flex;
  justify-content: center;
}