body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggles{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.toggles div {
  display: flex;
  flex-direction: column;
}

.loginform{

  margin-bottom: 20px;
}

.loginform div + div {
  margin-top: 20px;
}

.signupform{
  margin-bottom: 20px;
}

.welcometext{
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
  color: red;
  border-style: solid;
  
}